.carouseDiv{
        width: 50%;
        height: 90%;
        float: left;
}
.panelDiv{
        width: 50%;
        height: 100%;
        float: left;
        align-items: center;
}
.smallDiv{
    width: 40%;float: left;
}
body{
    background-image: linear-gradient(to right,black , blue, blue , black);
    color: white;
    font-size: 25px;
}
      #wheelOfFortune {
      display: inline-flex;
      position: relative;
      overflow: hidden;
      margin-left: 300px;
      }
      label{
        font-size: 20px;
        color: white;
      }
      button{
        background-color: rgb(6, 80, 241);
        color: white;
        font-size: 30px;
        border-radius: 15px;
      }
      button:hover{
        background-color: rgb(45, 111, 255);
      }
      #wheel {
      display: block;
      
      }
      
      #spin {
      font: 1.5rem/0 sans-serif;
      font-size: 15px;
      user-select: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30%;
      height: 30%;
      margin: -15%;
      background: #fff;
      color: #fff;
      box-shadow: 0 0 0 8px currentColor, 0 0px 15px 5px rgba(0, 0, 0, 0.6);
      border-radius: 50%;
      transition: 0.8s;
      }
      
      #spin::after {
      content: "";
      position: absolute;
      top: -17px;
      border: 10px solid transparent;
      border-bottom-color: currentColor;
      border-top: none;
      }

.emoji {
    position: fixed;
    top: -50px;
    font-size: 40px;
    animation: fall 3s linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
        opacity: 0;
    }
}